<footer>
    <div class="footer-content">
        <p>© 2024 ZombieLand. Tous droits réservés.</p>
        <ul class="footer-links">
            <li><a href="/mentions-legales#pdc">Politique de confidentialité</a></li>
            <li><a href="/mentions-legales#cu">Conditions d'utilisation</a></li>
            <li><a href="/mentions-legales#cdr">Conditions de remboursement</a></li>
        </ul>
    </div>
</footer>
</body>