<article class="meteo-card">
    <h2 class="special-text">Quel temps fait-il ici ?</h3>
    <img  width="90%" height="70%" src="<%= weatherData.weather_icons[0] %>" alt="icone de la météo <%= weatherData.weather_descriptions[0] %> ">
    <p>La température à <span class="special-text">ZombieLand</span> est actuellement de <%= weatherData.temperature %> °C mais attention la température ressentie est de <%= weatherData.feelslike %> °C</p>  
</article>